<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <main class="todo-list-wrapper">
            <h1> Todo List</h1>
            <ul class="todo-list">
                <li class="list-item" v-for="(item, index) in todoList" :key="index" 
                :class="(item.done === true) ? 'done' : '' " @click="unDone(index)">
                    
                    {{ item.text }}
                </li>
            </ul>
            <section class="input">
                <div>
                    <label for="new-todo-input">type new things to do!</label>
                    <input type="text" id="new-todo-input" v-model="newTaskContent"
                    @keyup.enter="createNewTask(newTaskContent)">
                </div>
            </section>
        </main>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>